<h1>Jobs search</h1>
<div>
    <div>     
        <oj-select-one id="basicSelect" 
                       options="[[sets]]" 
                       value="{{set}}"
                       on-value-changed="{{triggerSearch}}" />
        <input id="searchPhrase" 
               class="oj-inputtext-input" 
               placeholder="Enter search phrase..."
               data-bind="value: searchPhrase, valueUpdate: 'afterkeydown'" />
    </div>
    <div style="padding-top: 20px; margin-bottom: 20px">
        <oj-collapsible id="collapsibleRequestDetails">
            <h3 slot="header">Request details</h3>
            <pre data-bind="text: payload" />
            <div>Time took: <span data-bind="text: timeTook" /> ms</div>
            <div>Total hits: <span data-bind="text: totalHits" /></div>
        </oj-collapsible>
    </div>
    <div class="oj-flex">
        <oj-table id="results" 
                  data="[[results]]" 
                  columns-default='{"sortable": "none"}' 
                  columns='[{"headerText": "ID", 
                    "field": "id"},
                    {"headerText": "Job Code", 
                    "field": "jobCode"},
                    {"headerText": "Job Name", 
                    "field": "jobName"},
                    {"headerText": "Job Family Name", 
                    "field": "jobFamilyName"},
                    {"headerText": "Job Function Code", 
                    "field": "jobFunctionCode"},
                    {"headerText": "Set Code", 
                    "field": "setCode"},
                    {"headerText": "Score", 
                    "field": "score"}]' />
    </div>
</div>