<h1>Jobs suggest</h1>
<div>
    <div>
        <input id="searchPhrase" 
               class="oj-inputtext-input" 
               placeholder="Enter search phrase..."
               data-bind="value: searchPhrase, valueUpdate: 'afterkeydown'" />
    </div>
    <div style="padding-top: 20px; margin-bottom: 20px">
        <oj-collapsible id="collapsibleRequestDetails">
            <h3 slot="header">Request details</h3>
            <pre data-bind="text: payload" />
            <div>Time took: <span data-bind="text: timeTook" /> ms</div>
            <div>Total hits: <span data-bind="text: totalHits" /></div>
        </oj-collapsible>
    </div>
    <div class="oj-flex">
        <oj-table id="results" 
                  data="[[results]]" 
                  columns-default='{"sortable": "none"}' 
                  columns='[{"headerText": "ID", 
                    "field": "id"},
                    {"headerText": "Job Name", 
                    "field": "jobName"},
                    {"headerText": "Score", 
                    "field": "score"}]' />
    </div>
</div>