<h1>Search</h1>
<div>
    <h2>Basic search</h2>
    <div>
        <oj-input-text id="text-input" value="{{searchPhrase}}" placeholder="Enter search terms"></oj-input-text>
    </div>
    <div class="oj-flex">
        <oj-table id="results" 
                  data="[[results]]" 
                  columns-default='{"sortable": "none"}' 
                  columns='[{"headerText": "id", 
                    "field": "id"},
                    {"headerText": "Score", 
                    "field": "score"}]' />
    </div>
</div>